* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: whitesmoke;
  overflow: hidden;
  pointer-events: none;
}
#time {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  font-family: monospace;
  font-size: 4em;
}
